
<html>
    <title> Quick Select </title>
    <head>
        <link rel="stylesheet" type="text/css" href="css/qsel.css"/>
        <script src="js/main/main.js"></script>
    </head>
    <body>
        "usage:<p>index.py?host=HOSTNAME&param=qsel<br><i>or</i><br>index.py?pa
ram=qsel&mask=REGEX[&show=open|used][&vlan=VLAN]<p>All ports shown if no 'show' filter declare
d. If vlan number is declared then only that VLAN.";
    </body>
</html>
